<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="conString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=QLCM;Integrated Security=True"/>
		<add name="ICMSdatabase" connectionString="Server=.\SQLEXPRESS;Database=ICMS_BetaV1;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>